# Programming Paradigms
---

> ### Procedural

- Write sequential series of execution steps/tasks

- "Top to bottom" code execution

> ### Functional

- Organize code in functions with clearly defined tasks

- Pass data around via parameters

> ### Object-oriented*

- Organize data and logic in objects (properties and methods)

- Organize code in logical entities

---

In [1]:
# Data

female_students = ['anDrea', 'IreNE', 'IZAS', 'MaLVa', 'silvia', 'SONia']

male_students = ['AlBERTO' , 'AlvarO', 'DaRIo', 'GERVAsio', 'GoN', 'IVAN', 'Jorge', 'MereLLo', 
                 'Mesas', 'MohaMED Salah', ' Montes ', 'Nels0n', 'Pablo A Secas', 'SantiAGO', 'joSete', 'TONi']

In [2]:
# Procedural

new_value = input('Please, enter a new value: ') 
female_students[0] = new_value

female_students[1] = female_students[1].capitalize()

female_students[2] = 'Izaskun'

new_value = input('Please, enter a new value: ') 

female_students[3] = new_value
female_students[4] = female_students[4].capitalize()

female_students[5] = 'Sonia'

print(female_students)

Please, enter a new value: Montes
Please, enter a new value: Nelson
['Montes', 'Irene', 'Izaskun', 'Nelson', 'Silvia', 'Sonia']

In [3]:
# Functional

def replace_value(item_list, item_pos):
    new_value = input('Please, enter a new value: ')
    item_list[item_pos] = new_value
    return f'You have changed the item at the position {item_pos} of the list'

In [4]:
replace_value(female_students, 0)
print(female_students)

Please, enter a new value: Ana
['Ana', 'Irene', 'Izaskun', 'Nelson', 'Silvia', 'Sonia']

In [26]:
pepe = ['Ana', 'Fran', 'Angel']
paco = 1

In [27]:
replace_value(pepe, paco)

Please, enter a new value: 58

'You have changed the item at the position 1 of the list'

In [28]:
pepe

['Ana', '58', 'Angel']

In [29]:
def svenska_namn(item_list, item_pos):
    svenska_namn = item_list[item_pos]
    return f'{svenska_namn}son'

In [31]:
[svenska_namn(pepe, item) for item in range(len(pepe))]

['Anason', '58son', 'Angelson']

In [43]:
def funcion(z):
    x = 1
    y = 2
    z = x * y
    print(z)
    return z

In [53]:
def funcion_bien(x, y):
    print('Hola Angel')
    return x * y

In [54]:
x = funcion_bien(1,2)
print(x)

Hola Angel
2

In [42]:
x = 1
y = 2
z = x * y
print(z)
print(z)

2

2

In [37]:
print(x)

None

---

__Some considerations__

In [57]:
# Global vs. Local variables

a = 1

def sum_function_global(b):
    global a   # bad idea...
    a = a + b
    return a

In [58]:
sum_function_global(8)

9

In [59]:
a = 1

def sum_function_local(b):
    c = a + b
    return c

In [68]:
b = sum_function_local(8)

In [69]:
print(c)

9

---

In [110]:
# Mutability

import random

a = []

def append_random(l=[3, 4, 5]):
    print(a)
    random_int = random.randint(1, 20)
    l.append(random_int)
    print(l)
    print('be careful with mutability and default arguments')

In [129]:
append_random()

[]
[3, 4, 5, 6, 2, 6, 14, 20, 3, 14, 8, 15, 20, 11, 8, 1, 7, 16, 10, 12, 14, 18]
be careful with mutability and default arguments

---

In [137]:
# Undefined arguments (*args)

def name_cleaner(*pepe):
    return [name.capitalize() for name in pepe]

In [138]:
name_cleaner('aDJA', 'PABLO', 'TRump', 'Halima', 'Elvira', 'Pedro')

['Adja', 'Pablo', 'Trump', 'Halima', 'Elvira', 'Pedro']

In [139]:
name_lst = ['aDJA', 'PABLO', 'TRump']
name_cleaner(*name_lst)

['Adja', 'Pablo', 'Trump']

---

In [142]:
# Undefined arguments with key (**kwargs)

def fullname_cleaner(**parametro):
    return parametro

In [144]:
fullname_cleaner(name='Napoleon', surname='Bonaparte', laflasnñlfansdlfnas=6516161681, iadasdnmsand='ya es tarde')

{'name': 'Napoleon',
 'surname': 'Bonaparte',
 'laflasnñlfansdlfnas': 6516161681,
 'iadasdnmsand': 'ya es tarde'}

In [145]:
fullname_cleaner(names=['Gengis', 'Clint', 'Marlon'], surnames=['Kahn', 'Eastwood', 'Brando'])

{'names': ['Gengis', 'Clint', 'Marlon'],
 'surnames': ['Kahn', 'Eastwood', 'Brando']}

In [146]:
def fullname_cleaner(**kwargs):
    clean_name = kwargs['name'].capitalize()
    clean_surname = kwargs['surname'].capitalize()
    return f'{clean_name} {clean_surname}'

In [147]:
fullname_cleaner(name='dONALD', surname='TRUMP')

'Donald Trump'

__OOP for the next episode...__