# Operators

- __Arithmetic Operators__
    
- __Assignment Operators__
    
- __Comparison Operators__

- __Logical Operators__

- __Identity Operators__

- __Membership Operators__

In [ ]:
# Arithmetic Operators

x = 5
y = 2
print(x + y)
#print(x - y)
#print(x * y)
#print(x / y)
#print(x % y)
#print(x ** y)
#print(x // y)

In [ ]:
# Assignment Operators

x = 5
x

In [ ]:
x += 3 # x = x + 3
x

In [ ]:
x -= 3 # x = x - 3
x

In [ ]:
x *= 3 # x = x * 3
x

In [ ]:
x /= 3 # x = x / 3
x

In [ ]:
# Comparison Operators
x = 15
y = 16

print(x == y)
#print(x != y)
#print(x < y)
#print(x > y)
#print(x <= y)
#print(x >= y)

In [ ]:
# Logical Operators (and, or, not)
x = 6
if x < 5 and x < 10:
    print('True')
else:
    print('False')
    
'''
if not(x < 5 and x < 10):
    print('True')
else:
    print('False')
'''

In [ ]:
# Identity Operators and Membership Operators

var1 = 'ironhack'
var2 = 'data'

var1 is var2
#var2 in var1

# Control Flow

- __if__
    
- __elif__
    
- __else__

- __for__

- __while__

In [ ]:
# if, elif, else

price = float(input("Enter a price: "))
quantity = int(input("Enter a quantity: "))
amount = price*quantity

if amount > 100:
    if amount > 500:
        print("Amount is greater than 500")
    else:
        if amount < 500 and amount > 400:
            print("Amount is")
        elif amount < 500 and amount > 300:
            print("Amount is between 300 and 500")
        else:
            print("Amount is between 200 and 500")
elif amount == 100:
    print("Amount is 100")
else:
    print("Amount is less than 100")

In [ ]:
# for loop

rows = 5
# outer loop
for i in range(rows):
    # inner loop
    for j in range(i + 1):
        print("*", end=" ")
    print('')

In [2]:
# while loop

names = ['Ana', 'Fran', 'Angel', 'Jaime', 'Pedro', 'Elvira', 'Halima', 'Javier', 'Guillaume']
# outer loop
for name in names:
    # inner while loop
    count = -10000000
    if count < 3:
        print(name, end=' ')
        # increment counter
        count += 1
    print(name)

Ana Ana
Fran Fran
Angel Angel
Jaime Jaime
Pedro Pedro
Elvira Elvira
Halima Halima
Javier Javier
Guillaume Guillaume

In [9]:
# break

for i in range(4):
    print('---------------------empiezo de nuevo primer loop----------------')
    print('primer loop: ', i)
    for j in range(4):
        print('segundo loop: ', j)
        if j == i:
            print('esto es antes del break---> ', j)
            break
        print(i, j)

---------------------empiezo de nuevo primer loop----------------
primer loop:  0
segundo loop:  0
esto es antes del break--->  0
---------------------empiezo de nuevo primer loop----------------
primer loop:  1
segundo loop:  0
1 0
segundo loop:  1
esto es antes del break--->  1
---------------------empiezo de nuevo primer loop----------------
primer loop:  2
segundo loop:  0
2 0
segundo loop:  1
2 1
segundo loop:  2
esto es antes del break--->  2
---------------------empiezo de nuevo primer loop----------------
primer loop:  3
segundo loop:  0
3 0
segundo loop:  1
3 1
segundo loop:  2
3 2
segundo loop:  3
esto es antes del break--->  3

In [11]:
# continue

first = [2, 4, 6]
second = [2, 4, 6]
for i in first:
    print('---------------------empiezo de nuevo primer loop----------------')
    print('primer loop: ', i)
    for j in second:
        print('segundo loop: ', j)
        if i == j:
            continue
        print(i, '*', j, '= ', i * j)

---------------------empiezo de nuevo primer loop----------------
primer loop:  2
segundo loop:  2
segundo loop:  4
2 * 4 =  8
segundo loop:  6
2 * 6 =  12
---------------------empiezo de nuevo primer loop----------------
primer loop:  4
segundo loop:  2
4 * 2 =  8
segundo loop:  4
segundo loop:  6
4 * 6 =  24
---------------------empiezo de nuevo primer loop----------------
primer loop:  6
segundo loop:  2
6 * 2 =  12
segundo loop:  4
6 * 4 =  24
segundo loop:  6