# Built-in Functions

https://docs.python.org/3.9/library/functions.html

- __enumerate(iterable, start=0)__
    
- __input([prompt])__
    
- __isinstance(object, classinfo)__

- __sum(iterable[, start])__

- __range(start, stop[, step])__

- __map(function, iterable, ...)__

In [12]:
# https://docs.python.org/3.9/library/functions.html#enumerate

values = ['enumerate', 45, ('key','value')]

dictionary = {}
for pepe, paco in enumerate(values):
    if isinstance(paco, int):
        dictionary['key_'+str(pepe)] = paco
    
dictionary

{'key_0': 'enumerate', 'key_1': 45, 'key_2': ('key', 'value')}

In [8]:
objeto = enumerate(values)
print(type(objeto))
list(objeto)

<class 'enumerate'>

[(0, 'enumerate'), (1, 45), (2, ('key', 'value'))]

In [18]:
# https://docs.python.org/3.9/library/functions.html#input

value = input('Enter a value here --> ')
f'The value is {value}'
'The value is ' + value
'The value is {}'.format(value)

Enter a value here --> 65156

'The value is 65156'

In [16]:
type(value)

str

In [19]:
# https://docs.python.org/3.9/library/functions.html#isinstance

value = 5

if isinstance(value, int):
    print('Data type is correct')
else:
    print('FATAL ERROR CALL HOUSTON ASAP!!!')

Data type is correct

In [28]:
# https://docs.python.org/3.9/library/functions.html#sum

my_values = [1, 2, 3, 4, 5]

sum(my_values)

15

In [29]:
# https://docs.python.org/3.9/library/functions.html#func-range

for i in range(20, 200, 3):
    print(i * i, end='___')

400___529___676___841___1024___1225___1444___1681___1936___2209___2500___2809___3136___3481___3844___4225___4624___5041___5476___5929___6400___6889___7396___7921___8464___9025___9604___10201___10816___11449___12100___12769___13456___14161___14884___15625___16384___17161___17956___18769___19600___20449___21316___22201___23104___24025___24964___25921___26896___27889___28900___29929___30976___32041___33124___34225___35344___36481___37636___38809___

In [31]:
# https://docs.python.org/3.9/library/functions.html#map

my_words = ["let's", "take", "a", "break"]

my_message = map(lambda word: word.upper(), my_words)
print(type(my_message))
list(my_message)

<class 'map'>

["LET'S", 'TAKE', 'A', 'BREAK']