# EXTRA: Data Aggregation Constructor

In [1]:
import pandas as pd

In [2]:
%%time

df = pd.read_csv('./2022T1-SER-uso-parquimetros.csv', sep=';')

Wall time: 25.6 s

In [3]:
df.head()

,matricula_parquimetro,fecha_operacion,fecha_inicio,fecha_fin,cod_distrito,distrito,cod_barrio,barrio,tipo_zona,distintivo,minutos_tique,importe_tique
0,703130002,2022-02-23 20:26:24,2022-02-23 20:26:24,2022-02-24 11:00:24,3,RETIRO,1,PACÍFICO,AZUL,ECO,154,"1,00"
1,302230080,2022-03-03 17:21:30,2022-03-03 17:21:30,2022-03-03 17:42:30,2,ARGANZUELA,2,ACACIAS,VERDE,C,21,"0,50"
2,703130050,2022-03-10 08:54:11,2022-03-10 09:00:00,2022-03-10 13:00:00,3,RETIRO,1,PACÍFICO,AZUL,B,240,"9,85"
3,APP-MOVIL,2022-01-22 11:30:57,2022-01-22 11:30:55,2022-01-22 11:44:55,2,ARGANZUELA,6,PALOS DE MOGUER,VERDE,C,14,"0,30"
4,APP-MOVIL,2022-02-17 11:59:48,2022-02-17 11:59:47,2022-02-17 13:04:47,5,CHAMARTIN,3,CIUDAD JARDÍN,AZUL,ECO,65,"0,30"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10725775 entries, 0 to 10725774
Data columns (total 12 columns):
 #   Column                 Dtype
---  ------                 -----
 0   matricula_parquimetro  object
 1   fecha_operacion        object
 2   fecha_inicio           object
 3   fecha_fin              object
 4   cod_distrito           int64
 5   distrito               object
 6   cod_barrio             int64
 7   barrio                 object
 8   tipo_zona              object
 9   distintivo             object
 10  minutos_tique          int64
 11  importe_tique          object
dtypes: int64(3), object(9)
memory usage: 982.0+ MB

In [5]:
df.isnull().sum()

matricula_parquimetro    0
fecha_operacion          0
fecha_inicio             0
fecha_fin                0
cod_distrito             0
distrito                 6
cod_barrio               0
barrio                   0
tipo_zona                0
distintivo               0
minutos_tique            0
importe_tique            0
dtype: int64

In [6]:
df['importe_tique'] = df['importe_tique'].str.replace(',', '.').astype('float64')

In [7]:
df_distritos = df[['cod_distrito', 'distrito']].drop_duplicates().sort_values(by='cod_distrito').reset_index(drop=True)
df_distritos.head()

   cod_distrito    distrito
0             1      CENTRO
1             2  ARGANZUELA
2             3      RETIRO
3             4   SALAMANCA
4             5   CHAMARTIN

In [8]:
df_barrios = df[['cod_distrito', 'cod_barrio', 'barrio']].drop_duplicates()\
.sort_values(by=['cod_distrito', 'cod_barrio']).reset_index(drop=True)
df_barrios.head()

   cod_distrito  cod_barrio       barrio
0             1           1      PALACIO
1             1           2  EMBAJADORES
2             1           3       CORTES
3             1           4     JUSTICIA
4             1           5  UNIVERSIDAD

In [9]:
drop_cols = ['distrito', 'barrio']
df_small = df.drop(drop_cols, axis=1)
df_small.head()

,matricula_parquimetro,fecha_operacion,fecha_inicio,fecha_fin,cod_distrito,cod_barrio,tipo_zona,distintivo,minutos_tique,importe_tique
0,703130002,2022-02-23 20:26:24,2022-02-23 20:26:24,2022-02-24 11:00:24,3,1,AZUL,ECO,154,1.00
1,302230080,2022-03-03 17:21:30,2022-03-03 17:21:30,2022-03-03 17:42:30,2,2,VERDE,C,21,0.50
2,703130050,2022-03-10 08:54:11,2022-03-10 09:00:00,2022-03-10 13:00:00,3,1,AZUL,B,240,9.85
3,APP-MOVIL,2022-01-22 11:30:57,2022-01-22 11:30:55,2022-01-22 11:44:55,2,6,VERDE,C,14,0.30
4,APP-MOVIL,2022-02-17 11:59:48,2022-02-17 11:59:47,2022-02-17 13:04:47,5,3,AZUL,ECO,65,0.30

In [10]:
df_barrios.to_csv('./barrios.csv', sep='\t', index=False)

In [11]:
df_distritos.to_csv('./distritos.csv', sep='\t', index=False)

In [12]:
%%time

df_small.to_csv('./tickets_parking.csv', index=False)

Wall time: 39 s

In [13]:
%%time

df_small.to_parquet('./tickets_parking.parquet')

Wall time: 12 s

---